.img{
    margin-left: 105px;
 }
 img {
    width: 400px;
    height: 300px;
 }
 .img-1{
    margin-left: 40px;
 }
 .img-2{
    margin-left: 40px;
 }
 .img-3{
    margin-left: 105px;
 }
 .img-4{
    margin-left: 40px;
 }
 .img-5{
    margin-left: 40px;
 }
 .div-1{
   margin-top: 50px;
}
.div-2{
    margin-top: 30px;
}
 
 
