.cardDesing{
    width: 30%;
    margin-top: 25px;
    margin-left: 500px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.hederFM{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    font-family: -webkit-body;
}
.tableinput{
    margin-top: 40px;
    border: 1px solid;
    margin-left: 120px;
    width: 80%;
}